button {
  /* position: fixed; */
  /* align-self: flex-end; */
  font-family: "Open Sans";
  color: #fff;
  text-align: center;
  /* margin-bottom: 15px; */

  /* Round button */

  /* left: 900px; */
  /* bottom: 35%; */
  /* width: 128px; */
  /* height: 120px; */
  /* border-radius: 50%; */

  /* Round button */

  /* left: 870px; */
  /* bottom: 25px; */

  width: 195px;
  height: 75px;

  font-size: 48px;
  border: none;
  /* border-radius: 3px; */
  border-radius: 3px;
  /* padding: 2px; */
  background-color: darkorange;
  box-sizing: border-box;
  transition: transform 0.2s;
}

button:hover {
  cursor: pointer;
  box-shadow: 3px 5px gray;
  transform: scale(1.1);
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* height: 100vh; */
  /* height: 100px; */
  /* width: 250px; */
  margin: 0px;
  padding: 0px;
  /* background-color: #fcd299; */
  /* overflow: hidden; */
  height: 100%;
  background-image:  url("./assets/background.png"), linear-gradient(#fcd299, LightGray);
  background-size: 70% 100%, contain;
  background-repeat: no-repeat;
  background-position: center;
}

.scene {
  position: relative;
  display: flex;
  justify-content: center;
  /* height: 750px; */
  /* width: 1550px; */
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  /* border: 5px solid red; */
  box-sizing: border-box;
  /* align-items: center; */
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* overflow: hidden; */

  /* background-image: linear-gradient(#6e4aff, #49A16C); */
  /* background-image: url("./assets/background.png"); */
  /* background-color: gray; */
  /* background-size: cover; */
  /* background-size: 70% 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: contain; */
  background-origin: content-box;
  z-index: 0;
}

.scene__footer {
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 15px;
}

.background-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(#fcd299, LightGray); */
  z-index: -55;
}

.background-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url("./assets/background.png"); */
  z-index: -45;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.background-image {
  position: fixed;
  /* overflow: hidden; */
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  justify-content: center;
  /* align-items: center; */
  /* align-items: center; */
  /* background-image: url("./assets/background.png"); */
  /* background-image: url("./assets/bear.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  z-index: -15;
}

.background-image__main {
  position: absolute;
  bottom: 0;
  /* display: flex; */
  /* justify-content: flex-end; */

  background-position: bottom;

  /* width: 100%; */
  /* height: 100%; */
  width: 100vh;
  /* height: 100vh; */
  /* height: 955px; */
  height: 95%;
  /* left: */
  /* left: 28%; */
  background-image: url("./assets/bear-3.png");
  /* background-size: auto; */
  background-repeat: no-repeat;
  /* background-size: 40% 100%; */
  /* background-size: 100% 100%; */
  background-size: contain;
  z-index: -10;
}

#lottery {
  position: relative;
}
#ball-place {
  position: absolute;
  /* top: 340px; */
  /* top: 50%; */
  /* top: 45%; */
  /* right: 15%; */

  /* left: 1200px; */
  /* top: 58px; */

  transform: translateX(200px) translateY(30px) scale(0.7);
}

:root {
  /* --lottery-left: 485px; */
  /* --lottery-height: 240px; */
  /* --lottery-width: 240px; */
}

.lottery {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* width: calc(100vh - 50px); */
  width: 900px;
  height: 290px;
}

.lottery-machine {
  display: flex;
  position: absolute;
  bottom: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute; */
  border-radius: 50%;
  /* width: 240px; */
  /* height: 240px; */
  /* justify-self: flex-start; */
  /* transform: translateX(-320px) translateY(65px) scale(0.9); */
  /* left: 93px; */
  /* left: var(--lottery-left); */
  /* left: 5%; */
  /* top: 35px; */
  /* left: var(--lottery-left); */
  /* width: 200px; */
  /* width: var(--lottery-height); */
  /* width: 25%; */
  /* min-width: 150px; */
  /* max-width: 450px; */
  /* width: 100%; */
  /* height: 215px; */
  /* height: var(--lottery-height); */
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* ju */
  /* justify-self: flex-end; */
}

.lottery-machine-canvas {
  /* position: fixed; */
  /* left: 8px; */
  /* top: 23px; */
  /* width: var(--lottery-width); */
  /* height: var(--lottery-height); */
  /* padding: 7px; */
  border-radius: inherit;
  box-sizing: border-box;
  transition: opacity 0.7s;
}

.lottery-machine::after {
  content: "";
  position: absolute;
  /* left: 8px; */
  /* top: 23px; */
  left: 0px;
  /* width: var(--lottery-width); */
  /* height: var(--lottery-height); */
  width: 100%;
  height: 100%;
  background-color: rgba(115, 140, 148, 0.651);
  border: 7px solid darkorange;
  border-radius: inherit;
  box-sizing: border-box;
  transition: opacity 0.7s;
}
.lottery-machine.disabled .lottery-machine-canvas {
  opacity: 0;
  pointer-events: none;
}
.lottery-machine.disabled::after {
  opacity: 0;
  pointer-events: none;
}

/* 
.lottery-machine .lottery-base {
  position: absolute;
  background-image: url('https://svgur.com/i/DH4.svg');
  width: 165px;
  height: 75px;
  left: 0;
  top: 141px;
  z-index: 2;
} */

/* ??? */
/* .lottery-machine .lottery-lever {
  position: absolute;
  background-color: aqua;
  background-image: url("https://svgur.com/i/DGD.svg");
  width: 52px;
  height: 23px;
  left: 149px;
  top: 176px;
  transition: transform 0.5s;
  transform-origin: left center;
} */

.lottery-machine .lottery-lever.hover {
  transform: rotate(-10deg);
}
.lottery-machine .lottery-lever.down {
  transform: rotate(15deg);
}

/* .lottery-machine .lottery-tube {
  position: absolute;
  background-image: url('https://svgur.com/i/DHH.svg');
  width: 110px;
  height: 182px;
  left: 61px;
  top: 3px;
  z-index: 1;
} */

/* .lottery-machine .lottery-right-door,
.lottery-machine .lottery-left-door {
  position: absolute;
  background-image: url("https://svgur.com/i/DJ5.svg");

  width: 80px;
  height: 80px;
  left: 77px;
  top: 173px;
  z-index: 4;
  transition: left 0.75s;
} */

/* .lottery-machine .lottery-right-door.animation,
.lottery-machine .lottery-left-door.animation {
  left: 101px;
}
.lottery-machine .lottery-left-door {
  background-image: url("https://svgur.com/i/DHF.svg");
  left: 46px;
}
.lottery-machine .lottery-left-door.animation {
  left: 20px;
} */

/* .lottery-machine .lottery-lift {
  position: absolute;
  background-color: gray;
  width: 32px;
  height: 25px; */
/* left: 71px; */

/* Положение столбца */
/* left: 171px; */
/* top: 196px; */
/* top: 380px;
  box-sizing: border-box;
  border: 1px solid darkorange;
  border-radius: 2px;
  transition: top 1s, height 1s;
} */

/* .lottery-machine .lottery-lift:before {
  position: absolute;
  top: -15px;
  background: red;
  height: 15px;
  width: 20px;
  border-radius: 0 25px 0 0;
  display: inline-block;
  content: "";
} */

/* .lottery-machine .lottery-lift:after {
  background: red;
  height: 300px;
  width: 30px;
  border-radius: 60px 0 0 60px / 300px 0 0 300px;
  display: inline-block;
  content: "";
  position: relative;
  left: 40px;
} */

.lottery-machine .lottery-lift {
  position: absolute;
  background-color: gray;
  width: 65px;
  height: 0;
  left: 90px;
  top: 280px;
  box-sizing: border-box;
  border: 1px solid darkorange;
  border-radius: 2px;
  transition: top 1s, height 1s; /* Переход и для top */
}

.lottery-machine .lottery-lift.animation {
  /* top: 23px; */
  /* height: 173px; */
  /* top: 450px; */
  height: 285px;
  top: -5px;
}
.lottery-machine .lottery-ball {
  width: 54px;
  height: 54px;
  line-height: 3.375;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  /* font-size: 54px; */
  border-radius: 50%;
  position: absolute;
  /* left: 69px; */
  left: 90px;
  /* top: 178px; */
  /* top: -45px; */
  /* bottom: -15px; */
  top: 200px;
  transition: top 1s, transform 0.75s ease-in;
}
.lottery-machine .lottery-ball.invisible {
  opacity: 0;
}
.lottery-machine .lottery-ball.animation-up {
  /* top: 5px; */
  /* top: 555px; */
  top: -55px;
  /* right: 420px; */
  left: 95px;
  transform: scale(0.85);
}

.lottery-machine .lottery-ball.animation-roll {
  /* transform-origin: 9px 88px; */
  transform-origin: 25px 233px;
  transform: rotate(180deg);
}

/* .lottery-machine .lottery-ball.blink:after {
  content: "";
  position: absolute;
  left: 210px;
  top: 254px;
  width: 254px;
  height: 254px;
  transform-origin: 0 0;
  transform: rotate(0);
} */

.lottery-machine .lottery-ball.no-transition {
  transition: none;
  /* left: 151px;
  top: 367px; */

  left: 420px;
  top: 250px;
}

.lottery-machine .lottery-hover-area {
  position: absolute;
  top: 0;
  left: 0;
  height: 214px;
  width: 100%;
  z-index: 5;
}
.lottery-ball.clone {
  position: absolute;
  /* width: 18px;
  height: 18px; */
  width: 158px;
  height: 158px;
  font-size: 42px;
  line-height: 3.375;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 900px; */
}
.lottery-ball.clone.invisible {
  opacity: 0;
}
.lottery-ball.clone.no-transition {
  transition: none;
}


.user-window{
	width: 100%;
	position: absolute;
	display: flex;
	/* justify-content: flex-end; */
	flex-direction: column;
	align-items: flex-end;
	font-size: xx-large;
}